/* <====================| RESET CSS |=====================> */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* <====================| SLIDER |=====================> */
/* --------background-------- */
#slider {
    margin-top: 80px;
    height: 500px;
    background: url(/assets/img/img-home/backgroundHome-a220fcabb9f9cdbe002796c3d2b03d7c.png) top center / cover no-repeat;

}

#slider .background {
    position: relative;
    /* padding-top: 50%; */
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#slider .heading-text-event {
    position: absolute;
    bottom: 200px;
    width: 100%;
    font-family: Roboto;
    font-size: 36px;
    font-weight:700;
    color: #fff;
}